@media screen and (max-width: 1800px){
    .section-1__link-1 {
        left: 140px;
    }

    .active .section-1__monitors {
        margin-left: -390px;
    }
}

@media screen and (max-width: 1700px) {

    .section-6__left-monitor {
        width: 405px;
        margin-left: -710px;
    }

    .section-6__middle-monitor {
        width: 600px;
        margin-left: -300px;
    }

    .section-6__right-monitor {
        width: 405px;
        margin-right: -710px;
    }
}

@media screen and (max-width: 1600px) {
    .section-11__block {
        width: 1000px;
    }
  
  
  	.mobile-app-block-wrap {
        padding-top: 0;
    }
  
    .mobile-app-block-wrap .decor-title {
        padding-top: 158px;
    }
  
  	.mobile-app-block-wrap .decor-title:after {
      	top: 0;
        left: 50%;
      	transform: translateX(-50%);
      	width: 170px;
      	height: 130px;
    }
  
  	.mobile-app-block-wrap .decor-title .title, 
  	.mobile-app-block-wrap .decor-title h2 {
      	font-size: 110px;
        line-height: 90px;
    }
  
    .mobile-app-block {
      min-height: 0;
    }

    .mobile-app-block .left-block {
      padding: 60px 20px 0 20px;
    }

    .mobile-app-block .right-block {
      padding: 60px 20px 0 20px;
    }
  
  	.mobile-app-block .image img {
        max-height: 630px;
    }
  
    .mobile-app-block .left-block .title {
        font-size: 45px;
        line-height: 50px;
    }
  
  	.mobile-app-block .left-block .description {
        margin-top: 80px;
    }
  
  	.mobile-app-block .right-block .description {
        margin-top: 40px;
    }
  
  	.mobile-app-block .right-block .btn {
        margin-top: 50px;
    }
  
  	.mobile-app-block .mobile-app-video-wrap {
        right: -7px;
    }
  
  	.mobile-app-block .mobile-app-video-wrap:before {
        background-size: 1400px 760px;
    }
  
  	.mobile-app-block .mobile-app-video-wrap video {
      	max-width: 277px;
        max-height: 600px;
        margin-top: 15px;
    }
}

@media screen and (max-width: 1500px) {
    .section-1__link-1 {
        left: 140px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        top: 50px;
    }

    .active .section-1__link-1 {
        left: 140px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        top: 50px;
    }

    .section-5__left-paint {
        width: 450px;
    }

    .section-5__right-paint {
        width: 60%;
    }

    .section-5__left {
        width: 440px;
        margin-bottom: -380px;
        margin-left: -460px;
    }

    .section-5__right {
        width: 440px;
        margin-bottom: -380px;
        margin-right: -460px;
    }

    .section-6__left-monitor {
        width: 337px;
        margin-left: -590px;
        margin-top: -200px;
    }

    .section-6__middle-monitor {
        width: 500px;
        margin-left: -250px;
        margin-top: -200px;
    }

    .section-6__right-monitor {
        width: 337px;
        margin-right: -590px;
        margin-top: -200px;
    }
}

@media screen and (max-width: 1400px) {
    .active .section-1__paint-2 {
        height: 35%;
        bottom: 250px;
    }

    .active .section-1__paint-3 {
        height: 50%;
    }

    .section-3__left-monitor,
    .active .section-3__left-monitor {
        width: 522px;
        margin-top: -234px;
    }

    .section-3__middle-monitor,
    .active .section-3__middle-monitor  {
        width: 660px;
        margin-left: -330px;
        margin-top: -277px;
    }

    .section-3__right-monitor,
    .active .section-3__right-monitor {
        width: 522px;
        margin-top: -234px;
    }

    .section-3__left-paint,
    .section-3__right-paint {
        height: 50%;
    }

    .active .section-3__right-paint {
        top: -76px;
    }

    .section-7__lyapka {
        width: 70%;
        top: auto;
        bottom: 370px;
    }

    .section-7__cascad {
        width: 450px;
    }

    .active .section-7__cascad {
        margin-left: -570px;
        bottom: 125px;
    }

    .section-7__monitor {
        width: 700px;
        margin-left: -350px;
    }

    .section-8__block {
        left: 200%;
        width: 1000px;
        margin-left: -500px;
        margin-top: -272px;
    }


}

@media screen and (max-width: 1380px) {
    .section-10__right-text {
        text-shadow: 1px -1px #1fc392;
    }

    .section-10__left-text {
        text-shadow: 1px -1px #1fc392;
    }
}

@media screen and (max-width: 1300px) {
    .active .section-1__monitors {
        width: 60%;
        margin-left: -250px;
    }

    .section-1__link-1 {
        left: 30px;
    }

    .active .section-1__link-1 {
        left: 30px;
    }
}

@media screen and (max-width: 1280px) {

    .section-9__top-block {
        width: 700px;
        margin-left: -350px;
    }

    .active .section-9__top-block {
        width: 700px;
        margin-left: -350px;
        margin-top: -375px;
    }

    .section-9__bottom-block {
        width: 700px;
        margin-left: -355px;
    }

    .active .section-9__bottom-block {
        margin-bottom: -376px;
    }

    .section-10__monitor {
        width: 300px;
        margin-top: -330px;
        margin-left: -460px;
    }

    .section-12__title {
        font-size: 40px;
        padding-top: 10px;
        position: relative;
        z-index: 5;
    }

    .slick-dots {
        bottom: 0;
    }

    .landing-portfolio {
        width: 80%;
    }

  	
  	.mobile-app-block-wrap .decor-title {
        margin: 0 0 30px;
    }
  
  	.mobile-app-block {
        display: block;
    }
  
    .mobile-app-block-wrap .decor-title:after {
      	display: block;
    }
  
  	.mobile-app-block-wrap .decor-title .title, 
  	.mobile-app-block-wrap .decor-title h2 {
      	padding: 0;
        font-size: 72px;
      	line-height: 88px;
    }
  
  	.mobile-app-block .left-block {
        padding-top: 0;
    }
  
  	.mobile-app-block .left-block .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 72px;
        line-height: 88px;
    }
  
  	.mobile-app-block .left-block .title .typed-cursor {
      height: 68px;
    }
  
    .mobile-app-block .text-bg {
      bottom: 20%;
    }
  
  	.mobile-app-block .left-block .image {
        display: flex;
      	flex-direction: column;
      	align-items: center;
    }
  
  	.mobile-app-block .left-block .image img {
      	margin: 30px 0 -106px;
    }
  
    .mobile-app-block .left-block .image video {
		max-height: 700px;
      	margin-top: 30px;
    }      
  
  	.mobile-app-block .left-block .image .description {
        opacity: 1;
    }
  
  	.mobile-app-block .left-block .description {
      	max-width: 100vw;
        margin: 40px auto 0;
      	padding: 0 20px;
      	font-size: 18px;
        line-height: 160.3%;
        text-align: center;
        color: #FFFFFF;
      	text-align: center;
      	opacity: .3;
    }
  
    .mobile-app-block .center-block {
		display: none;
    }
  
  	.mobile-app-block .right-block {
      	display: flex;
      	flex-direction: column-reverse;
      	align-items: center;
      	justify-content: center;
        padding: 45px 20px 0;
      	text-align: center;
    }
  
    .mobile-app-block .right-block .text-bg,
  	.mobile-app-block .right-block .description {
		display: none;
    }
  
  	.mobile-app-block .right-block .title {
      	max-width: 470px;
        margin: 102px auto 0;
    }
  
  	.mobile-app-block .right-block .btn {
        margin-top: 0;
    }
  
    .mobile-app-block-wrap .step-list {
        flex-direction: column;
        align-items: center;
      	padding: 50px 0;
    }
  
  	.mobile-app-block-wrap .step-list .description {
        color: #fff;
    }
  
    .mobile-app-block-wrap .step-list:before {
        top: auto;
        bottom: 0;
		height: 484px;
      	max-height: 100%;
    }
  
  	.mobile-app-block .mobile-app-video-wrap {
      	min-height: 640px;
		margin-top: 40px;
    }
  
    .mobile-app-block .mobile-app-video-wrap:before {
      	width: 100vw;
        background-size: 1370px 728px;
    }
  
  	.mobile-app-block .image video {
        max-width: 270px;
        max-height: 582px;
        margin-top: 15px;
    }
}

@media screen and (max-width: 1240px) {

    .section-9__bottom-block,
    .active .section-9__bottom-block {
        display: none;
    }

    .section-9__bottom-block-2 {
        display: block;
        position: absolute;
        bottom: -100%;
        width: 550px;
        left: 50%;
        margin-left: -275px;
        -webkit-transition: all 1.5s;
        -moz-transition: all 1.5s;
        -ms-transition: all 1.5s;
        -o-transition: all 1.5s;
        transition: all 1.5s;
    }

    .active .section-9__bottom-block-2 {
        bottom: 50%;
        margin-bottom: -380px;
    }

}

@media screen and (max-width: 1200px) {
    .section-2__search {
        top: 13px;
    }

    .section-3__left-monitor,
    .active .section-3__left-monitor {
        width: 424px;
        margin-top: -180px;
    }

    .section-3__middle-monitor,
    .active .section-3__middle-monitor {
        width: 500px;
        margin-left: -250px;
        margin-top: -212px;
    }

    .section-3__right-monitor,
    .active .section-3__right-monitor {
        width: 424px;
        margin-top: -180px;
    }

    .section-5__left {
        width: 350px;
        margin-bottom: -310px;
        margin-left: -370px;
    }

    .section-5__right {
        width: 350px;
        margin-bottom: -310px;
        margin-right: -370px;
    }

    .section-5__right-paint {
        width: 70%;
        top: auto;
        bottom: 0;
    }

    .section-6__left-monitor {
        width: 270px;
        margin-left: -470px;
        margin-top: -165px;
    }

    .section-6__middle-monitor {
        width: 400px;
        margin-left: -200px;
        margin-top: -165px;
    }

    .section-6__right-monitor {
        width: 270px;
        margin-right: -470px;
        margin-top: -165px;
    }

    .section-7__monitor {
        width: 550px;
        margin-left: -275px;
    }

    .section-7__lyapka {
        bottom: 200px;
    }

    .section-7__cascad {
        width: 350px;
        margin-left: -200px;
        bottom: 350px;
    }

    .active .section-7__cascad {
        margin-left: -470px;
        bottom: 105px;
    }

    .section-8__block {
        width: 800px;
        margin-left: -400px;
        margin-top: -218px;
    }

    .active .section-9__bottom-block-2,
    .section-9__bottom-block-2 {
        display: none;
    }

    .active .section-9__top-block {
        margin-top: -285px;
    }

    .section-10__monitor {
        width: 250px;
        margin-top: -280px;
        margin-left: -340px;
    }

    .section-10__list {
        width: 600px;
        margin-top: -340px;
        margin-left: -200px;
    }

    .section-11__block {
        display: none;
    }

    .section-11__block-2 {
        display: block;
        width: 680px;
        height: 401px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        -webkit-transform: scale(2);
        -moz-transform: scale(2);
        -ms-transform: scale(2);
        -o-transform: scale(2);
        transform: scale(2);
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -ms-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
    }

    .active .section-11__block-2 {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }

    .active .section-12__title {
        margin-bottom: 20px;
    }

    .landing-portfolio {
        width: 90%;
    }
    .serv-points {
        display: block;
    }
    .serv-point.cell-6 {
        max-width: 100%;
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
    .serv-point.cell-6:not(:first-child) {
         margin: 30px 0 0 0;
    }

    .our-rewards__item {
        padding: 5px!important;
    }
    .our-rewards__item-title {
        font-size: 17px;
    }
    .our-rewards__number {
        font-size: 20px;
    }
}

@media screen and (max-width: 1024px) and (max-height: 1368px) {

    .section-7__lyapka {
        bottom: 630px;
    }

    .section-7__cascad {
        bottom: 705px;
    }

    .active .section-7__cascad {
        bottom: 505px;
    }

    .section-7__monitor {
        bottom: 430px;
    }
}


@media screen and (max-width: 1024px) and (max-height: 1366px) {

    .active .section-1__paint-2 {
        bottom: 200px;
    }

    .section-2__left-phone {
        width: 160px;
        margin-top: -166px;
    }

    .active .section-2__left-phone {
        width: 160px;
        margin-top: -166px;
    }

    .section-2__middle-phone {
        width: 160px;
        margin-left: -80px;
        margin-top: -166px;
    }

    .active .section-2__middle-phone {
        width: 160px;
        margin-left: -80px;
        margin-top: -166px;
    }

    .section-2__right-phone {
        width: 160px;
        margin-top: -166px;
    }

    .active .section-2__right-phone {
        width: 160px;
        margin-top: -166px;
    }

    .section-3__left-paint {
        top: auto;
        bottom: -100%;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -ms-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
    }

    .active .section-3__left-paint {
        top: auto;
        bottom: -80px;
    }

    .section-3__left-link {
        bottom: auto;
        top: 30px;
    }

    .section-3__right-link {
        bottom: 30px;
    }

    .section-5__left-paint {
        width: 100%;
    }

    .active .section-5__left-paint {
        left: -216px;
    }

    .section-5__right-text {
        right: auto;
        left: -130px;
    }

    .section-5__right-paint {
        width: 100%;
    }

    .section-6__left-monitor {
        display: none;
    }

    .section-6__middle-monitor {
        width: 600px;
        margin-left: -300px;
        margin-top: -240px;
    }

    .section-6__right-monitor {
        display: none;
    }

    .section-7__lyapka {
        bottom: 220px;
    }
    
    .section-7__cascad {
        bottom: 300px;
    }

    .active .section-7__cascad {
        bottom: 100px;
    }

    .section-7__monitor {
        bottom: 30px;
    }

    .section-8__left-text {
        left: -80px;
    }
    
    .section-8__right-text {
        right: -75px;
    }

    .section-8__block {
        display: none;
    }

    .section-8__block-mobile {
        display: block;
        position: absolute;
        width: 800px;
        left: 200%;
        margin-left: -400px;
        top: 50%;
        margin-top: -656px;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -ms-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
    }

    .active .section-8__block-mobile {
        display: block;
        position: absolute;
        width: 800px;
        left: 50%;
        margin-left: -400px;
        top: 50%;
        margin-top: -656px;
    }

    .section-8__block-mobile img {
        width: 100%;
        height: auto;
        max-width: 2000px;
        max-height: 2000px;
    }

    .section-8__paint {
        left: -300%;
    }

    .section-8__paint img {
        width: auto;
        height: 100%;
        max-width: 2000px;
        max-height: 2000px;
    }

    .section-9__left-text,
    .active .section-9__left-text {
        left: -50px;
    }

    .section-9__right-text,
    .active .section-9__right-text {
        right: -48px;
    }

    .section-10__right-text {
        right: -98px;
    }

    .active .section-10__right-text {
        right: -98px;
    }

    .section-10__left-text {
        left: -102px;
    }

    .active .section-10__left-text {
        left: -102px;
    }

    .section-11__text {
        left: -112px;
    }

    /*.section-12 .new-works .new-work:nth-child(2n),*/
    /*.section-12 .new-works .new-work:nth-child(3n),*/
    /*.section-12 .new-works .new-work:nth-child(4n),*/
    /*.section-12 .new-works .new-work:nth-child(5n),*/
    /*.section-12 .new-works .new-work:nth-child(6n) {*/
        /*display: none;*/
    /*}*/

    .section-12 .new-works {
        display: none;
    }

    .section-12 .new-works-1024 {
        display: flex;
    }


}





@media screen and (max-width: 920px) {

    .section-3__left-monitor,
    .section-3__right-monitor {
        display: none;
    }

    .section-3__middle-monitor,
    .active .section-3__middle-monitor {
        width: 700px;
        margin-left: -350px;
        margin-top: -296px;
    }

    .section-3__middle-monitor {
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
        -webkit-transition: all 1.5s;
        -moz-transition: all 1.5s;
        -ms-transition: all 1.5s;
        -o-transition: all 1.5s;
        transition: all 1.5s;
    }

    .active .section-3__middle-monitor {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }

    .section-3__right-paint {
        opacity: 0;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -ms-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
    }

    .active .section-3__right-paint {
        opacity: 1;
    }

    .section-7__lyapka {
        width: 600px;
    }

    .section-7__right-text {
        bottom: 30px;
        right: auto;
        left: 30px;
    }


    .section-8__block {
        width: 600px;
        margin-left: -300px;
        margin-top: -163px;
    }

}



@media screen and (max-width: 1024px) and (max-height: 768px) {

    .section-8__block {
        display: block;
        width: 800px;
        margin-left: -400px;
    }

    .section-8__block-mobile,
    .active .section-8__block-mobile {
        display: none;
    }

    .active .section-12__title {
        margin-bottom: 50px;
    }


}

@media screen and (max-width: 768px) {
    .our-rewards__item {
        max-width: 92%;
        -webkit-flex-basis: 92%;
        -ms-flex-preferred-size: 92%;
        flex-basis: 92%;
        margin: 0 auto 30px auto;
    }
}

@media screen and (max-width: 768px) and (max-height: 1024px) {

    .section-7__cascad {
        bottom: 540px;
    }

    .active .section-7__cascad {
        bottom: 340px;
    }

    .section-7__lyapka {
        bottom: 505px;
    }

    .section-7__monitor {
        bottom: 265px;
    }

    .section-8__block-mobile {
        width: 600px;
        margin-left: -300px;
        margin-top: -480px;
    }

    .active .section-8__block-mobile {
        display: block;
        position: absolute;
        width: 600px;
        left: 50%;
        margin-left: -300px;
        top: 50%;
        margin-top: -480px;
    }

    .section-8__paint {
        left: -300%;
    }

    .section-8__paint img {
        width: auto;
        height: 100%;
        max-width: 2000px;
        max-height: 2000px;
    }
}

@media screen and (max-width: 768px) and (max-height: 920px){
    .section-8__block-mobile,
    .active .section-8__block-mobile {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .section-8__block {
        width: 500px;
        margin-left: -250px;
        margin-top: -136px;
    }
}



@media screen and (max-width: 820px)and (max-height: 920px){
    .active .section-1__monitors {
        margin-left: -180px;
    }

    .active .section-2__left-phone {
        width: 160px;
        margin-right: -260px;
        margin-top: -166px;
    }

    .active .section-2__right-phone {
        width: 160px;
        margin-left: -260px;
        margin-top: -166px;
    }

    .section-3__middle-monitor,
    .active .section-3__middle-monitor {
        width: 600px;
        margin-left: -300px;
        margin-top: -245px;
    }

    .section-5__right {
        display: none;
    }

    .section-5__left {
        width: 350px;
        margin-bottom: -310px;
        margin-left: -175px;
    }

    .section-5__right-paint {
        width: 100%;
    }

    .section-6__middle-monitor {
        width: 500px;
        margin-left: -250px;
        margin-top: -200px;
    }

    .section-7__lyapka {
        bottom: 150px;
    }

    .section-7__cascad {
        bottom: 170px;
        width: 260px;
        margin-left: -200px;
    }

    .active .section-7__cascad {
        bottom: 70px;
        margin-left: -340px;
    }

    .section-7__monitor {
        width: 400px;
        margin-left: -200px;
        bottom: 13px;
    }

    .about-us__client-reviews .pagination-logos .logo-bullet {
        width: 90px;
        height: 90px;
        margin: 7px 20px;
    }

    .about-us__client-reviews .pagination-logos .logo-bullet img {
        width: 90px;
        min-width: 90px;
        max-width: 90px;
        height: 90px;
        min-height: 90px;
        -webkit-filter: none;
        -moz-filter: none;
        -ms-filter: none;
        -o-filter: none;
        filter: none;
        filter:  none;
        transition: 0.3s;
    }
}





@media screen and (max-width: 640px) {
    .section-1__paint-2 {
        display: none;
    }

    .section-1__link-1 {
        top: 15px;
    }

    .active .section-1__link-1 {
        top: 15px;
    }

    .active .section-1__monitors {
        width: 80%;
        margin-left: 0;
        left: 15px;
    }

    .section-1__link-2 {
        bottom: 15px;
        right: 130px;
    }

    .section-2__search {
        width: 400px;
        height: auto;
        margin-left: -200px;
    }

    .section-2__left-phone {
        display: none;
    }

    .section-2__middle-phone {
        width: 220px;
        margin-left: -110px;
        margin-top: -190px;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
        -webkit-transition: all 1.5s;
        -moz-transition: all 1.5s;
        -ms-transition: all 1.5s;
        -o-transition: all 1.5s;
        transition: all 1.5s;
    }

    .active .section-2__middle-phone {
        width: 220px;
        margin-left: -110px;
        margin-top: -190px;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }

    .section-2__right-phone {
        display: none;
    }

    .section-3__middle-monitor,
    .active .section-3__middle-monitor {
        width: 500px;
        margin-left: -250px;
        margin-top: -200px;
    }

    .active .section-4__left-text {
        left: 0;
    }

    .section-6__middle-monitor {
        width: 450px;
        margin-left: -225px;
        margin-top: -190px;
    }

    .section-7__lyapka {
        width: 420px;
    }

    .section-7__cascad {
        bottom: 160px;
        width: 230px;
        margin-left: -150px;
    }

    .active .section-7__cascad {
        bottom: 52px;
        width: 230px;
        margin-left: -300px;
    }

    .section-7__monitor {
        width: 350px;
        margin-left: -175px;
        bottom: 5px;
    }

    .section-8__block,
    .active .section-8__block {
        width: 500px;
        margin-left: -250px;
        margin-top: -130px;
    }


}

@media screen and (max-width: 600px) {

    .section-8__block {
        width: 400px;
        margin-left: -200px;
        margin-top: -109px;
    }

    .about-us-list .serv-text {
        font-size: 16px;
    }

    .about-us-list .serv-title {
        font-size: 25px;
    }

    .about-us-list .serv-title::before {
        content: '';
        width: 40px;
        height: 40px;
        margin-bottom: 15px;
    }
    .client-reviews > .container {
        padding: 10px;
    }
}

@media screen and (max-width: 820px) and (max-height: 420px) {

    .active .section-1__monitors {
        width: 50%;
        margin-left: 0;
        left: 104px;
    }

    .section-1__link-2 {
        right: -78px;
    }

    .section-1__link-2 {
        right: -78px;
        bottom: 100%;
    }

    .active .section-1__link-2 {
        right: -78px;
        bottom: 132px;
    }

    .section-2__left-phone {
        display: block;
        width: 100px !important;
        margin-top: -80px;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -ms-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
    }

    .active .section-2__left-phone {
        display: block;
        width: 100px !important;
        margin-top: -80px;
    }

    .section-2__middle-phone {
        width: 100px;
        margin-left: -50px;
        margin-top: -80px;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }

    .active .section-2__middle-phone {
        width: 100px;
        margin-left: -50px;
        margin-top: -80px;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }

    .section-2__right-phone {
        display: block;
        width: 100px !important;
        margin-top: -80px;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -ms-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
    }

    .active .section-2__right-phone {
        display: block;
        width: 100px !important;
        margin-top: -80px;
    }

    .section-2__left-link {
        left: -68px;
    }

    .section-2__right-link {
        right: -67px;
    }

    .section-3__middle-monitor,
    .active .section-3__middle-monitor {
        width: 320px;
        margin-left: -160px;
        margin-top: -135px;
    }

    .section-3__left-link {
        top: auto;
        bottom: 100%;
        left: -81px;
    }

    .active .section-3__left-link {
        top: auto;
        bottom: 130px;
        left: -81px;
    }

    .section-3__right-link {
        right: -79px;
        top: auto;
        bottom: 100%;
    }

    .active .section-3__right-link {
        bottom: 132px;
        right: -79px;
    }

    .section-4__left-text {
        left: -79px;
    }

    .active .section-4__left-text {
        left: -79px;
        bottom: 128px;
    }

    .section-5__left-paint {
        display: none;
    }

    .section-5__left {
        width: 170px;
        margin-bottom: -150px;
        margin-left: -190px;
    }

    .section-5__right {
        display: block;
        width: 170px;
        margin-bottom: -150px;
        margin-right: -190px;
    }

    .section-5__right-text {
        left: -119px;
        bottom: 100%;
    }

    .active .section-5__right-text {
        bottom: 167px;
        left: -119px;
    }

    .section-6__middle-monitor {
        width: 325px;
        margin-left: -162px;
        margin-top: -137px;
    }

    .section-6__left-text {
        top: auto;
        left: -80px;
    }

    .active .section-6__left-text {
        top: auto;
        bottom: 132px;
        left: -80px;
    }

    .section-6__right-text {
        right: -76px;
    }

    .active .section-6__right-text {
        bottom: 132px;
        right: -76px;
        left: auto;
    }

    .section-7__right-text {
        left: auto;
        right: -77px;
        bottom: 100%;
    }

    .active .section-7__right-text {
        right: -77px;
        bottom: 132px;
    }

    .section-8__block {
        width: 600px;
        margin-left: -300px;
        margin-top: -150px;
    }

    .section-9__top-block {
        width: 450px;
        margin-left: -225px;
    }

    .active .section-9__top-block {
        width: 350px;
        margin-left: -175px;
        margin-top: -135px;
    }

    .section-10__monitor {
        width: 120px;
        margin-top: -135px;
        margin-left: -230px;
    }

    .section-10__list {
        width: 480px;
        margin-top: -260px;
        margin-left: -160px;
    }

    .section-11__block-2 {
        display: none;
    }
    
    .section-11__block-3 {
        display: block;
        width: 465px;
        height: 192px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        -webkit-transform: scale(2);
        -moz-transform: scale(2);
        -ms-transform: scale(2);
        -o-transform: scale(2);
        transform: scale(2);
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -ms-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
    }

    .active .section-11__block-3 {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }

    .section-11__text {
        font: 20px 'Intro', sans-serif;
        left: -87px;
    }

    /*.section-12 .new-work:nth-child(6),*/
    /*.section-12 .new-work:nth-child(5),*/
    /*.section-12 .new-work:nth-child(4),*/
    /*.section-12 .new-work:nth-child(3) {*/
        /*display: none;*/
    /*}*/

    .section-12__title {
        font-size: 30px;
        padding-top: 5px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 740px) and (max-height: 420px) {
    /*.section-12 .new-work:nth-child(6),*/
    /*.section-12 .new-work:nth-child(5),*/
    /*.section-12 .new-work:nth-child(4),*/
    /*.section-12 .new-work:nth-child(3),*/
    /*.section-12 .new-work:nth-child(2),*/
    /*.section-12 .new-work:nth-child(1) {*/
        /*display: none;*/
    /*}*/
}

@media screen and (max-width: 568px) and (max-height: 320px) {

    .section-2__left-phone,
    .active .section-2__left-phone {
        width: 100px !important;
        margin-top: -70px;
    }

    .active .section-2__left-phone {
        margin-right: -200px;
    }

    .section-2__middle-phone,
    .active .section-2__middle-phone {
        width: 100px;
        margin-left: -50px;
        margin-top: -70px;
    }

    .section-2__right-phone,
    .active .section-2__right-phone {
        width: 100px !important;
        margin-top: -70px;
    }

    .active .section-2__right-phone {
        margin-left: -200px;
    }

    .section-3__middle-monitor,
    .active .section-3__middle-monitor {
        width: 370px;
        margin-left: -185px;
        margin-top: -156px;
    }

    .section-5__left {
        width: 200px;
        margin-bottom: -176px;
        margin-left: -220px;
    }

    .section-5__right {
        width: 200px;
        margin-bottom: -176px;
        margin-right: -220px;
    }

    .section-6__middle-monitor {
        width: 350px;
        margin-left: -175px;
        margin-top: -150px;
    }

    .section-8__block {
        width: 500px;
        margin-left: -250px;
        margin-top: -125px;
    }

    .section-9__top-block {
        width: 380px;
        margin-left: -190px;
    }

    .active .section-9__top-block {
        width: 380px;
        margin-left: -190px;
        margin-top: -150px;
    }

    .section-10__monitor {
        width: 110px;
        margin-top: -122px;
        margin-left: -230px;
    }
}

@media screen and (max-width: 560px) {
    .section-3__middle-monitor,
    .active .section-3__middle-monitor {
        width: 400px;
        margin-left: -200px;
        margin-top: -150px;
    }
  
  	
  	.mobile-app-block-wrap .decor-title .title, 
  	.mobile-app-block-wrap .decor-title h2,
 	.mobile-app-block .left-block .title{
      	font-size: 26px;
    	line-height: 40px;
    }
  
  	.mobile-app-block .left-block .red-title span {
        padding: 5px 20px;
    }
  
  	.mobile-app-block .left-block .title .typed-cursor {
      	height: 33px;
    }
  
    .mobile-app-block .right-block .title {
        margin-top: 60px;
     	font-size: 38px;
        line-height: 40px;
    }
  
  	.mobile-app-block-wrap .step-list .number span {
        font-size: 100px;
        line-height: 74px;
    }
  
  	.mobile-app-block-wrap .step-list .number:after {
        width: 50px;
        height: 50px;
        min-width: 50px;
        margin-left: -40px;
    }
  
  	.mobile-app-block-wrap .step-list .title {
        font-size: 20px;
        line-height: 150.3%;
    }
  
  	.mobile-app-block-wrap .step-list .description {
        font-size: 14px;
        line-height: 150.3%;
    }
  
  	.mobile-app-block .mobile-app-video-wrap {
      	left: 5px;
      	min-height: 560px;
    }
  
  	.mobile-app-block .mobile-app-video-wrap:before {
      	background-size: 1260px 670px;
    }
  
  	.mobile-app-block .image video {
      	max-width: 248px;
      	margin: 12px 9px 0 0;
    }
}




@media screen and (max-width: 480px){
    .active .section-1__monitors {
        width: 100%;
        left: 0;
    }

    .section-1__link-2 {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        right: -100%;
    }

    .active .section-1__link-2 {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        bottom: 10px;
        right: 30px;
    }

    .section-2__left-link {
        display: none;
    }

    .active .section-2__left-link {
        display: none;
    }

    .section-2__right-link {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        right: -100%;
        bottom: 10px;
    }

    .active .section-2__right-link {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        right: 30px;
        bottom: 10px;
    }

    .section-3__left-link {
        bottom: auto;
        top: 10px;
        left: -100%;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    .active .section-3__left-link {
        bottom: auto;
        top: 10px;
        left: 30px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    .section-3__right-link {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        right: -100%;
        bottom: 10px;
    }

    .active .section-3__right-link {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        right: 30px;
        bottom: 10px;
    }

    .section-3__middle-monitor,
    .active .section-3__middle-monitor {
        width: 300px;
        margin-left: -150px;
        margin-top: -134px;
    }

    .section-3__right-paint {
        /*display: none;*/
    }

    .section-4__left-text {
        left: -100%;
        bottom: 10px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    .active .section-4__left-text {
        left: 30px;
        bottom: 10px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    .section-5__left {
        width: 350px;
        margin-top: -277px;
        margin-left: -175px;
        bottom: auto;
        top: -100%;
        left: 200%;
    }

    .active .section-5__left {
        bottom: auto;
        top: 50%;
        left: 50%;
    }

    .section-5__right-text {
        bottom: 10px;
        left: -100%;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    .active .section-5__right-text {
        bottom: 10px;
        left: 30px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    .section-6__middle-monitor {
        width: 370px;
        margin-left: -185px;
        margin-top: -145px;
    }

    .section-6__right-text,
    .active .section-6__right-text {
        display: none;
    }

    .section-6__left-text {
        bottom: 10px;
        left: -100%;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    .active .section-6__left-text {
        bottom: 10px;
        left: 30px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    .section-7__monitor {
        width: 280px;
        margin-left: -140px;
        bottom: auto;
        top: 50%;
        margin-top: -100px;
    }

    .section-7__cascad {
        bottom: auto;
        top: 50%;
        width: 180px;
        margin-left: -155px;
        margin-top: -270px;
    }

    .active .section-7__cascad {
        bottom: auto;
        top: 50%;
        width: 180px;
        margin-left: -255px;
        margin-top: -160px;
    }

    .section-7__lyapka {
        width: 320px;
        bottom: auto;
        top: 50%;
        margin-top: -200px;
    }

    .section-7__right-text {
        bottom: 10px;
        top: auto;
        right: -100%;
        left: auto;;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    .active .section-7__right-text {
        bottom: 10px;
        top: auto;
        right: 30px;
        left: auto;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    .section-8__block {
        display: none;
        width: 300px;
        margin-left: -150px;
        margin-top: -81px;
    }

    .section-8__block-mobile {
        display: block;
        position: absolute;
        width: 400px;
        left: 200%;
        margin-left: -200px;
        top: 50%;
        margin-top: -330px;
    }

    .active .section-8__block-mobile {
        left: 50%;
        display: block;
        position: absolute;
        width: 400px;
        margin-left: -200px;
        top: 50%;
        margin-top: -330px;
    }

    .section-8__paint {
        left: -300%;
    }

    .section-8__paint img {
        width: auto;
        height: 100%;
        max-height: 2000px;
        max-width: 2000px;
    }

    .section-9__left-paint,
    .active .section-9__left-paint {
        display: none;
    }

    .section-9__top-block {
        width: 350px;
        margin-left: -175px;
    }

    .active .section-9__top-block {
        width: 350px;
        margin-left: -175px;
        margin-top: -225px;
    }

    .section-9__bottom-block-2 {
        display: block;
        width: 350px;
        margin-left: -175px;
    }

    .active .section-9__bottom-block-2 {
        display: block;
        width: 350px;
        margin-left: -175px;
        margin-bottom: -185px;
    }

    .section-9__left-text {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        left: -100%;
        top: 10px;
        bottom: auto;
    }

    .active .section-9__left-text {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        left: 30px;
        top: 10px;
        bottom: auto;
    }

    .section-9__right-text {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        right: -100%;
        bottom: 10px;
    }

    .active .section-9__right-text {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        right: 30px;
        bottom: 10px;
    }

    .section-10__list {
        margin-left: -250px;
        margin-top: -450px;
    }

    .section-10__monitor {
        width: 200px;
        margin-top: -200px;
        margin-left: -115px;
    }

    .section-12__title {
        font-size: 30px;
    }

    .section-12 .new-works-1024 {
        display: block;
    }

    .landing-portfolio {
        width: 100%;
    }

    .go-back {
        margin-top: -20px;
    }
    .template-is-page_aboutus img.fancybox-image {
        display: block;
        margin: auto;
        top: 15%;
    }
}

@media screen and (max-width: 440px) {

    .section-1__link-1,
    .active .section-1__link-1 {
        top: 205px;
    }

    .section-2__search,
    .section-2__search .inpt-group {
        overflow: visible;
    }

    .section-2__search {
        width: 300px;
        margin-left: -150px;
    }

    .section-2__search .inpt-group,
    .section-2__search .search_widget-control {
        -webkit-border-radius: 5px !important;
        -moz-border-radius: 5px !important;
        border-radius: 5px !important;
    }

    .section-2__search-submit {
        position: absolute;
        top: 120%;
        left: 50%;
        margin-left: -86px;
    }

    .section-8__left-text {
        bottom: auto;
        top: 10px;
        left: -100%;
        text-shadow: 1px 1px #000;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    .active .section-8__left-text {
        top: 10px;
        left: 30px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    .section-8__right-text {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        bottom: 10px;
        right: -100%;
    }

    .active .section-8__right-text {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        bottom: 10px;
        right: 30px;
    }

    .section-10__left-text {
        bottom: auto;
        top: 10px;
        left: -100%;
        text-shadow: 1px 1px #000;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    .active .section-10__left-text {
        top: 10px;
        left: 30px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    .section-10__right-text {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        bottom: 10px;
        right: -100%;
    }

    .active .section-10__right-text {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        bottom: 10px;
        right: 30px;
    }


    .section-11__text {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        left: -100%;
        top: 10px;
    }

    .active .section-11__text {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        bottom: auto;
        left: 30px;
        top: 10px;
    }

    .section-11__block-2 {
        display: none;
    }

    .section-11__block-4 {
        display: block;
        width: 310px;
        height: 441px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        opacity: 0;
        -webkit-transform: scale(2);
        -moz-transform: scale(2);
        -ms-transform: scale(2);
        -o-transform: scale(2);
        transform: scale(2);
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -ms-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
    }

    .active .section-11__block-4 {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }

    /*.section-12 .new-work:nth-child(6),*/
    /*.section-12 .new-work:nth-child(5),*/
    /*.section-12 .new-work:nth-child(4),*/
    /*.section-12 .new-work:nth-child(3),*/
    /*.section-12 .new-work:nth-child(2),*/
    /*.section-12 .new-work:nth-child(1) {*/
        /*display: none;*/
    /*}*/
}

@media screen and (max-width: 380px) {
    .section-1__link-1,
    .active .section-1__link-1 {
        font-size: 40px;
    }

    .section-1__paint-1 {
        width: 130%;
    }

    .section-2__middle-phone,
    .active .section-2__middle-phone {
        width: 200px;
        margin-left: -100px;
        margin-top: -175px;
    }

    .section-4-wrap {
        display: none;
    }

    .section-5__right-text {
        display: none;
    }

    .section-6__middle-monitor {
        width: 310px;
        margin-left: -155px;
        margin-top: -120px;
    }

    .section-8__block-mobile {
        display: block;
        position: absolute;
        width: 300px;
        left: 200%;
        margin-left: -150px;
        top: 50%;
        margin-top: -246px;
    }

    .active .section-8__block-mobile {
        display: block;
        position: absolute;
        width: 300px;
        left: 50%;
        margin-left: -150px;
        top: 50%;
        margin-top: -246px;
    }

}

@media screen and (max-width: 350px) {
    .section-5__left {
        margin-top: -278px;
    }

    .section-9__top-block {
        width: 310px;
        margin-left: -155px;
    }

    .active .section-9__top-block {
        width: 310px;
        margin-left: -155px;
        margin-top: -205px;
    }

    .section-9__bottom-block-2 {
        width: 310px;
        margin-left: -155px;
    }

    .active .section-9__bottom-block-2 {
        width: 310px;
        margin-left: -155px;
        margin-bottom: -185px;
    }

    .section-10__monitor {
        width: 150px;
        margin-top: -100px;
        margin-left: -78px;
    }

    .section-10__list {
        width: 500px;
        margin-left: -225px;
        margin-top: -370px;
    }

    .section-11__text {
        font: 20px 'Intro', sans-serif;
    }
}
@media screen and (max-height: 900px) {
 .feedback-bg {
    padding: 50px 0;
  }
}
@media screen and (max-height: 768px) {
 .market-key__title {
    font-size: 28px;
}
  .market-key__img {
    max-width: 278px;
}
  .market-key__text {
    margin: 16px auto 0 auto;
}
}

@media screen and (max-height: 670px) {
	.feedback-bg {
    	padding: 20px 0;
	}
}

@media screen and (max-height: 570px) {
	.market-key__title {
    font-size: 13px;
}
  .market-key__img {
    max-width: 170px;
}
}


/* РљРЅРѕРїРєР° Р·Р°Р·Р°С‚СЊ РїСЂРѕРµРєС‚ С‚РѕР»СЊРєРѕ РґР»СЏ РјРѕР±РёР»СЊРЅРѕР№ РІРµСЂСЃРёРё SYN */
@media (max-width: 600px){
  .m-project{
    position: fixed;
    bottom: 0%;
    height: 60px;
    width: -webkit-fill-available;
    width: -mo z-available;
    max-width: inherit;
    background-color: rgba(31, 31, 31, 0.92);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
  }     

  button.mbutton{
    font-family: inherit;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 0;
    background: #dc2c3d;
    color: #1f1f1f;
    border: 0px solid transparent;
    cursor: pointer;
    color: white;
    width: 100%;
    height: 100%;
    padding: 0px;
  }
}
/* РљРЅРѕРїРєР° Р·Р°Р·Р°С‚СЊ РїСЂРѕРµРєС‚ С‚РѕР»СЊРєРѕ РґР»СЏ РјРѕР±РёР»СЊРЅРѕР№ РІРµСЂСЃРёРё SYN РљРѕРЅРµС† */






